@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var userId = UserManager.GetUserId(User);
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <main>
        @if (User.Identity.IsAuthenticated)
        {
            
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Balance</th>
                    <td>@Model</td>
                </tr>
            </table>
            <div class="text-center">
                <a href="@Url.Action("Deposit", "Home")" class="btn btn-primary">Deposit</a>
                <a href="@Url.Action("Withdraw", "Home")" class="btn btn-primary">Withdraw</a>
            </div>
        }
    </main>
        <li class="nav-item">
            <a href="@Url.Action("GetToken", "Home")"class="btn btn-primary">Get Token</a>
        </li>
      
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            <a href="@Url.Action("TransactionHistory", "Home")" class="btn btn-primary">Transaction History</a>
        </li> 


        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<script>
    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("MyWalletAsync", "Home")',
            data: { userId: '@userId' },
            success: function(response) {
                console.log(response);
                
                $.each(response, function(index, transaction) {
                    $('.TransactionHistory').append('<li>' + transaction.description + ' - ' + transaction.amount + '</li>');
                });
            }
        });
    });
</script>